h3{
  padding: 0 40px;
  font-size: 17px;
  line-height: 1.5;
  color: #60646b;
}

.row-title {
  margin-top: 2.8rem;
  margin: 36px 0;
}

mwl-gauge {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}

mwl-gauge.situaSilo > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
