/*
 * Ionic Variables and Theming
 * ----------------------------------------------------------------------------
 * For more information, please see
 * https://www.ionicframework.com/docs/theming/
 */

/*
 * Ionic Colors
 * ----------------------------------------------------------------------------
 * Named colors make it easy to reuse colors on various components.
 * It's highly recommended to change the default colors
 * to match your app's branding. Ionic provides nine layered colors
 * that can be changed to theme an app. Additional colors can be
 * added as well (see below). For more information, please see
 * https://www.ionicframework.com/docs/theming/colors
 *
 * To easily create custom color palettes for your app’s UI,
 * check out our color generator:
 * https://www.ionicframework.com/docs/theming/color-generator
 */

 :root {
  --ion-color-primary: #1a3225;
  --ion-color-primary-rgb: 26,50,37;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #172c21;
  --ion-color-primary-tint: #31473b;

  --ion-color-secondary: #35664b;
  --ion-color-secondary-rgb: 53,102,75;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2f5a42;
  --ion-color-secondary-tint: #49755d;

  --ion-color-tertiary: #e8ad4e;
  --ion-color-tertiary-rgb: 232,173,78;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #cc9845;
  --ion-color-tertiary-tint: #eab560;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ede906;
  --ion-color-warning-rgb: 237,233,6;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d1cd05;
  --ion-color-warning-tint: #efeb1f;

  --ion-color-danger: #e41212;
  --ion-color-danger-rgb: 228,18,18;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c91010;
  --ion-color-danger-tint: #e72a2a;

  --ion-color-dark: #192b1d;
  --ion-color-dark-rgb: 25,43,29;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #16261a;
  --ion-color-dark-tint: #304034;

  --ion-color-medium: #828081;
  --ion-color-medium-rgb: 130,128,129;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #727172;
  --ion-color-medium-tint: #8f8d8e;

  --ion-color-light: #dee2ec;
  --ion-color-light-rgb: 222,226,236;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #c3c7d0;
  --ion-color-light-tint: #e1e5ee;
}

.ion-color-dark {
  --ion-color-base: var(--ion-color-dark);
  --ion-color-base-rgb: var(--ion-color-dark-rgb);
  --ion-color-contrast: var(--ion-color-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-shade);
  --ion-color-tint: var(--ion-color-dark-tint);
}

.ion-color-medium {
  --ion-color-base: var(--ion-color-medium);
  --ion-color-base-rgb: var(--ion-color-medium-rgb);
  --ion-color-contrast: var(--ion-color-medium-contrast);
  --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb);
  --ion-color-shade: var(--ion-color-medium-shade);
  --ion-color-tint: var(--ion-color-medium-tint);
}

.ion-color-light {
  --ion-color-base: var(--ion-color-light);
  --ion-color-base-rgb: var(--ion-color-light-rgb);
  --ion-color-contrast: var(--ion-color-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-shade);
  --ion-color-tint: var(--ion-color-light-tint);
}

/*
 * App iOS Variables
 * ----------------------------------------------------------------------------
 * iOS only CSS variables can go here
 */

.ios {

}

/*
 * App Material Design Variables
 * ----------------------------------------------------------------------------
 * Material Design only CSS variables can go here
 */

.md {
  /* Use the primary color as the background for the toolbar */
  --ion-toolbar-background: var(--ion-color-primary);

  /* Change the color of the toolbar components */
  --ion-toolbar-color: #fff;

  /* Change the color of the activated toolbar components */
  --ion-toolbar-color-activated: #fff;

  /* Change the color of the unchecked segment buttons */
  --ion-toolbar-color-unchecked: rgba(255, 255, 255, 0.6);

  /* Change the color of the checked segment button */
  --ion-toolbar-color-checked: #fff;

  --ion-backdrop-color: #ffffff;
}

/*
 * App Theme
 * ----------------------------------------------------------------------------
 * Ionic apps can have different themes applied, which can
 * then be further customized. These variables come last
 * so that the above variables are used by default.
 */

 :root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #151515;
  --ion-text-color-rgb: 21,21,21;

  --ion-color-step-50: #f3f3f3;
  --ion-color-step-100: #e8e8e8;
  --ion-color-step-150: #dcdcdc;
  --ion-color-step-200: #d0d0d0;
  --ion-color-step-250: #c5c5c5;
  --ion-color-step-300: #b9b9b9;
  --ion-color-step-350: #adadad;
  --ion-color-step-400: #a1a1a1;
  --ion-color-step-450: #969696;
  --ion-color-step-500: #8a8a8a;
  --ion-color-step-550: #7e7e7e;
  --ion-color-step-600: #737373;
  --ion-color-step-650: #676767;
  --ion-color-step-700: #5b5b5b;
  --ion-color-step-750: #505050;
  --ion-color-step-800: #444444;
  --ion-color-step-850: #383838;
  --ion-color-step-900: #2c2c2c;
  --ion-color-step-950: #212121;
}

/*
 * Dark Theme
 * ----------------------------------------------------------------------------
 */

// @media () {
//   :root {
//     --ion-border-color: #2a2a2a;
//     --ion-background-color: var(--ion-color-primary);
//     --ion-background-color-rgb: var(--ion-color-primary-rgb);
//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255, 255, 255;
//     --ion-backdrop-color: #ffffff;

//     --ion-color-step-50: #232323;
//     --ion-color-step-100: #2e2e2e;
//     --ion-color-step-150: #3a3a3a;
//     --ion-color-step-200: #454545;
//     --ion-color-step-250: #515151;
//     --ion-color-step-300: #5d5d5d;
//     --ion-color-step-350: #686868;
//     --ion-color-step-400: #747474;
//     --ion-color-step-450: #7f7f7f;
//     --ion-color-step-500: #8b8b8b;
//     --ion-color-step-550: #979797;
//     --ion-color-step-600: #a2a2a2;
//     --ion-color-step-650: #aeaeae;
//     --ion-color-step-700: #b9b9b9;
//     --ion-color-step-750: #c5c5c5;
//     --ion-color-step-800: #d1d1d1;
//     --ion-color-step-850: #dcdcdc;
//     --ion-color-step-900: #e8e8e8;
//     --ion-color-step-950: #f3f3f3;
//   }

//   .md {
//     /* Use the dark color as the background for the toolbar */
//     --ion-toolbar-background: var(--ion-color-primary);

//     /* Change the color of the toolbar components */
//     --ion-toolbar-color: #fff;

//     /* Change the color of the activated toolbar components */
//     --ion-toolbar-color-activated: #fff;

//     /* Change the color of the unchecked segment buttons */
//     --ion-toolbar-color-unchecked: rgba(255, 255, 255, .6);

//     /* Change the color of the checked segment button */
//     --ion-toolbar-color-checked: #fff;
//   }
// }
